<h1>angular-runtime-config playground</h1>

<h2>Environments</h2>
<ul>
  <li><a href="">default</a></li>
  <li><a href="?env=DEV">DEV</a></li>
  <li><a href="?env=INT">INT</a></li>
  <li><a href="?env=PROD">PROD</a></li>
</ul>

<h2>Loaded configuration</h2>
<ul>
  <li>
    cacheExpiration
    <ul>
      <li>{{ config.cacheExpiration }}</li>
    </ul>
  </li>
  <li>
    backendUrl
    <ul>
      <li>{{ config.backendUrl }}</li>
    </ul>
  </li>
  <li>
    webApiKey
    <ul>
      <li>{{ config.webApiKey ?? 'null' }}</li>
    </ul>
  </li>
</ul>
